.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    background-color: #f7f7f7;
    display: block;
    justify-content: center;
    margin-top: 150px;
    padding: 0;
  }
  
  /** body 안의 실제 컨텐츠 영역 */
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1200px;
    min-width: 1000px;
    max-width: 1200px;
    background-color: white;
    padding: 0px;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 중앙 정렬 */
    margin-bottom: 50px;
  }

.bodylogo img{
    margin: 100px 0px 30px;
    font-size: 50px;
    font-weight: bold;  
    width : 350px;
    text-align: center;
}

.bodylogo a{
    color :#0020ff	;
    text-decoration: none;
}
.text{
    font-size : 30px;
    margin : 0 0 10px;
    color : #5a5858;
    
}
.loginform{
    color : #323232;
    font-size : 15px;
    padding: 10px;
}
.loginform input{
    width : 350px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    color: #bebebe;
    border: 3px solid #828282;
    margin-top: 10px;
    padding-left: 15px;   
}

.loginform input:focus {
	outline: none;
	border: 3px solid blue;
}

.btn input{
    margin-top: 15px;
    margin-bottom: 10px;
    width : 370px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #0020ff;
    color : #FAEBCD;
    font-size: 20px;
    font-weight: bolder;  
}
.inlinebox{
    display: flex;  
}
.search a{
   font-size : 15px;
   text-decoration: none;
   color : #323232;
   padding: 65px;

}
.join a{
    font-size : 15px;
    text-decoration: none;
    color : #323232;
    padding: 65px ;
}
